/* css Tricks: triangles: */
/* rgba(200,200,250,.1)
rgba(104, 252, 252, 0.5)
rgba(30, 105, 190, 0.5) */

body{
  background-image: url("../img/cloud-drawing-texture-1.png");
  /* background: linear-gradient(180deg, darkgray 0% , lightgray 18%, red  100%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: inherit;
  margin: 0 auto;
  height: 100%;
  font-family: fantasy;
}
#header{
  background-color: rgb(255, 255, 255);
  padding: .1em;
  margin: .1em;
  box-shadow: (0,0,20px,black)
}
#title{
  font-size: 1.5 rem;
}
#wrapper{
  background-color: rgba(192, 192, 192, 0.7);
  border-radius: 1em;
  margin: .3rem;
/* 
  border-top: 1.5rem solid rgba(227, 215, 255, 0.8);
  border-left: 1.5rem solid rgba(227, 215, 255, 0.8);
  border-bottom: 1.5rem solid rgba(192, 192, 192, 0.8);
  border-right: 1.5rem solid rgba(192, 192, 192, 0.8); */
} 

#game-info{ 
  display: block;
  margin: 1rem;
}
#gameMessage{
  width: auto;
  height: 3rem; 
}
.game-info-item{
  margin: .1em .3em;
  padding: .1em;

}
#playerCol{
  min-width: auto;
  font-family: monospace;
  width: 25vw;
  margin: 0 auto;
}
.playerInfo{
  font-size:1.2em;
  font-style: bolder;
  text-align: left;
  margin: .3rem 1rem;
  padding: .3rem -1rem;
  background-color: white;
}
#playerInventory{
  display: block;
}
#header{
  font-size: inherit; 
}
#startButton{
  font-size: 1em;
}
#display{
  font-size: 1em;
}
/* .gameContent{
  background-color: rgba(255, 255, 255, 0.5);
} */
#instructions{
  width: 25vw;
}
.instructions{
  width: 25px;
}
#list-instructions{
  list-style: none;
}
#timerDisplay{
  padding:0;
  font-size: .8rem;
  margin: 1rem 0;
  background-color: white;
}
#grid-holder0{
  box-sizing: border-box;
  background-color: lightgray;
  text-align: center;
  
}
#game-space{
  border: 1px, red, solid;
  background-repeat: no-repeat;
  overflow: initial;
  background-size: cover;
  margin: 1rem;
  margin-top: .2em;  
  
}
.cell{
  width: 1.3rem; 
  height: 1.3rem;
  border: 1px solid rgba(0,0,0,0);
}
.door{
  background-color: lightblue;
}
.wall{
  background-color: black;
  /*  */
}
.treasure{
  background-color: goldenrod;             
}
.floor{
  background-color: lightgray;
}
.tunnel{
  background-color:darkgray;
  border-radius: 50%;
}
.goal{
  background-color:pink;
}

.player{
  background-color: green;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.playerAttacked{
  background-color: rgba(240, 128, 128, 0.7);
  z-index: 1;
}

.enemy{
  border-radius: 30%;
  border: .5px solid magenta;
}
.enemyAttacked{
  background-color: rgba(238, 76, 143, 0.7);
  z-index: 1;
  width: 10px;
  height: 10px;
  text-align: center;
  padding: .1rem 0  ;
}
/* #divider{
  background: url('../single_border.png'); 
  background-size: contain;
  background-position: center;
  height: 2em;
  padding-bottom: 5px;
} */
#playerHP{
  border: 0px solid black;
}
#playerName{
  font-weight: bolder; 
}
.torches{
    background: url("../img/fire--v2.png");
    background-size: contain;
    background-color: rgba(190, 190, 190, 0.24);
    border-radius: 50%;
    margin: .1em .3em;
  
}
.heartBox{
  background: url("../img/heart--v2.png");
  background-size: contain;
  background-color: rgba(255, 0, 0, 0.24);
  border-radius: 50%;
  margin: .1em .3em;
}

.speedBoots{
  background: url("../img/runner.png");
  background-size: contain;
  background-color: rgba(165, 42, 42, 0.24);
  border-radius: 50%;
  margin: .1em .3em;
}
