/* css Tricks: triangles: */
/* rgba(200,200,250,.1)
rgba(104, 252, 252, 0.5)
rgba(30, 105, 190, 0.5) */
#wrapper{
  background: repeating-linear-gradient(180deg, darkgray 0% , lightgray 18%, red  100%);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
#game-space{
  overflow: initial;
}
#grid-holder2{
  background-color: lightgray;
}
.battlemap{
  width: 50px; 
  height: 50px;
}
.cell{
  width: 25px; 
  height: 25px;
  border: 1px solid rgba(0,0,0,.1);
  /* zoom can be added by changing size of pixels 
    after Battle Map redrawn
  */
}
.door{
  background-color: lightblue;
}
.wall{
  background-color: black;
  /*  */
}
.treasure{
  background-color: goldenrod;             
}
.floor{
  background-color: lightgray;
}
.tunnel{
  background-color:darkgray;
  border-radius: 50%;
}
.goal{
  background-color:pink;
}

.player{
  background-color: green;
  border-radius: 50%;
  z-index: 3;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.enemy{
  border-radius: 30%;
  border: .5px solid magenta;
}

 .arrow-up {

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 1px solid black;
  }
  
  .arrow-down { 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    
    border-top: 1px solid #f00;
  }
  
  .arrow-right {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    
    border-left: 1px solid green;
  }
  
  .arrow-left {  
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    border-right:1px solid blue; 
  } 